* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Forum';
  font-family: 400;
  src: url(./fonts/Forum-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.section-title {
  padding-top: 20px;
  color: #0C0C0E;
  font-family: 'Forum';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  &:after {
    content: '';
    display: block;
    margin: 20px auto 0;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
  }
}

.wrapper {
  background-color: #0C0C0E;
}

.header {
  background-size: 100%
}

.header-container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-title {
  color: #FFF;
  font-family: 'Forum';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px 18px 20px;
}

.ul__wrapper {
  display: flex;
  align-items: center;
  list-style: none;
}

.ul__wrapper li {
  margin-left: 30px;
}

.ul__wrapper a {
  text-decoration: none;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.header-logo {
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 10px;
  width: 28px;
  height: 28px;
}

/** Welcome **/

.image-container {
  height: 600px;
  background: url(./assets/Welcome.png) no-repeat;
  background-size: cover;
}

.welcome-title {
  position: relative;
  top: 220px;
  width: 600px;
  background-color: black;
}

.welcome-title h2 {
  opacity: 1;
  padding: 35px 35px 35px 35px;
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* About */

.about {
  width: 1440px;
  margin: 0 auto;
}

.about p {
  color: #000;
  text-align: center;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  padding-top: 40px;
}

.images-items {
  display: flex;
  gap: 25px;
  padding: 20px 0 40px 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.pag-button {
  background-color: #0C0C0E;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  border: 0;
  margin: 5px;
}

.pag-button:hover {
  cursor: pointer;
}

.button-container {
  margin-top: -5px;
}

.button-container:hover {
  cursor: pointer;
}

.pagination-1 {
  background-color: #BB945F;
}

/* favorites */

.favorites {
  width: 1440px;
  margin: 0 auto;
}


.favorites-title-header {
  color: #000;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 40px;
  padding-left: 20px;
}

.favorites label {
  color: #000;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.favorites-inputs {
  display: flex;
  gap: 90px;
  padding: 40px 0px 40px 20px;
}

.favorites-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 260px;
  padding-left: 20px;
  padding-bottom: 40px;
}


.favorites-book__item {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  min-height: 555px;
  width: 550px;
  padding: 14px 0 0 19px;
}

.favorites-book__item-title__container {
  padding-top: 18px;
}

.favorites-book__item-title {
  color: #000;
  font-family: 'Forum';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  &:after {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background: #BB945F;
  }
}

.favorites-book__item-header {
  color: #000;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.favorites-book__item-author {
  color: #000;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

/* .favorites-book__container {
  flex-grow: 0.4;
  flex-shrink: 1;
  flex-basis: auto;
} */

.favorites-book__container-text {
  color: #000;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
  width: 357px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.favorites-book__container-img {
  position: absolute;
  width: 200px;
  height: 300px;
  left: 389px;
  bottom: -1px;
  overflow: hidden;
}

.favorites-book__button {
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  width: 75px;
  height: 30px;
  color: #0C0C0E;
  text-align: center;
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background: transparent;
}

.second-button {
  margin-top: 41px;
}

.fourth-button {
  margin-top: 80px;
}